<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="boardMapper">
 	<resultMap type="com.kh.board.vo.BoardVO" id="board">
		<id column="BOARD_NUM" 				property="boardNum"/>
		<result column="BOARD_TITLE" 		property="boardTitle"/>
		<result column="BOARD_CONTENT"		property="boardContent"/>
		<result column="BOARD_WRITER" 		property="boardWriter"/>
		<result column="CREATE_DATE" 		property="createDate"/>
	</resultMap> 
	
 	<select id="selectBoardList" resultMap="board">
		SELECT BOARD_NUM
			, BOARD_TITLE
			, BOARD_WRITER
			, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE
		FROM TEST_BOARD
		ORDER BY BOARD_NUM DESC
	</select> 
	
	<insert id="insertBoard">
		INSERT INTO TEST_BOARD (
			BOARD_NUM
			, BOARD_TITLE
			, BOARD_WRITER
			, BOARD_CONTENT
		) VALUES (
			(SELECT NVL(MAX(BOARD_NUM), 0) + 1 FROM TEST_BOARD)
			, #{boardTitle}
			, #{boardWriter}
			, #{boardContent}
		)
	</insert>
	
	<select id="selectBoardDetail" resultMap="board">
		SELECT BOARD_NUM
			, BOARD_TITLE
			, BOARD_WRITER
			, BOARD_CONTENT
			, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE
		FROM TEST_BOARD
		WHERE BOARD_NUM = #{boardNum}
	</select>
</mapper>























