<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="empMapper">
	<resultMap type="com.kh.emp.vo.DeptVO" id="dept">
		<id column="DEPTNO" 		property="deptNo"/>
		<result column="DNAME" 		property="dName"/>
		<result column="REGION" 	property="region"/>
	</resultMap>
	<resultMap type="com.kh.emp.vo.EmpVO" id="emp">
		<id column="EMPNO"			property="empNo"/>
		<result column="ENAME" 		property="eName"/>
		<result column="JOB" 		property="job"/>
		<result column="EAGE" 		property="eAge"/>
		<result column="GENDER" 	property="gender"/>
		<result column="TELL" 		property="tell"/>
		<result column="DEPTNO" 	property="deptno"/>
		<result column="DNAME" 		property="dName"/>
		<result column="REGION" 	property="region"/>
	</resultMap>
	
	<insert id="insertDept">
		INSERT INTO TEST_DEPARTMENT (
			DEPTNO
			, DNAME
			, REGION
		) VALUES (
			(SELECT 'DEPT_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(DEPTNO, 6))), 0) + 1, 3, 0) AS DEPTNO FROM TEST_DEPARTMENT)
			, #{dName}
			, #{region}
		)
	</insert>
	
	<select id="selectDeptList" resultMap="dept">
		SELECT DEPTNO
			, DNAME
			, REGION
		FROM TEST_DEPARTMENT
		ORDER BY DEPTNO
	</select>
	
	<insert id="insertRegEmp">
		INSERT INTO TEST_EMP (
			EMPNO
			, ENAME
			, JOB
			, EAGE
			, GENDER
			, TELL
			, DEPTNO
		) VALUES (
			(SELECT 'EMP_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(EMPNO, 5))), 0) + 1, 3, 0) AS EMPNO FROM TEST_EMP)
			, #{eName}
			, #{job}
			, #{eAge}
			, #{gender}
			, #{tell}
			, #{deptNo}
		)
	</insert>
	
	<select id="selectEmpList" resultMap="emp">
		SELECT EMP.ENAME
			, EMP.TELL
			, EMP.GENDER
			, EMP.EAGE
			, DP.DNAME
			, DP.REGION
		FROM TEST_DEPARTMENT DP, TEST_EMP EMP
		WHERE DP.DEPTNO = EMP.DEPTNO
		ORDER BY EMP.ENAME
	</select>
</mapper>























